---
import Menu from "./Menu.astro"
---

<header class="flex w-full">
    <div class="text-white font-semibold flex text-2xl gap-10">
    
       
            <img src="./logo_white.png" alt="" class="w-80 h-20 pt-2 pb-2 px-4">
            <Menu />


    </div>
</header>